[project]
name = "ppdev"
description = "Pragmatic policy development."
authors = ["Anton Matsson"]
channels = ["conda-forge", "pytorch"]
platforms = ["linux-64", "osx-64"]

[dependencies]
python = "3.11.*"
pytorch = {version = ">=2.0.1", channel = "pytorch"}
matplotlib = ">=3.8.4,<3.9"
seaborn = ">=0.13.2,<0.14"
pandas = "2.1.4.*"
numpy = ">=1.26.4,<1.27"
tqdm = ">=4.66.4,<4.67"
jupyterlab = ">=4.2.2,<4.3"
scikit-learn = "1.5.2.*"
skorch = ">=1.0.0,<1.1"
kmodes = ">=0.12.2,<0.13"

[pypi-dependencies]
pymdptoolbox = "*"

[feature.cuda]
platforms = ["linux-64"]
channels = [
    "nvidia",
    {channel = "pytorch", priority = -1},
    {channel = "rapidsai", priority = -1},
]
system-requirements = {cuda = "12.1"}

[feature.cuda.dependencies]
pytorch-cuda = {version = "12.1.*", channel = "pytorch"}
dask-cuda = {channel = "rapidsai"}
cudf = {version = "24.8.*", channel = "rapidsai"}
# Explicitly specify that rmm, libcudf, and librmm should be installed from the
# rapidsai channel, as pixi does not support flexible channel priority.
# See: https://github.com/prefix-dev/pixi/issues/615#issuecomment-1878655411.
rmm = {channel = "rapidsai"}
libcudf = {channel = "rapidsai"}
librmm = {channel = "rapidsai"}

[feature.cpu]
platforms = ["linux-64", "osx-64"]

[environments]
cuda = ["cuda"]
default = ["cpu"]
